* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('/Projeto_1/Imagens/foto_fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bloco_1 {
    background-color: #EFE6D5;
    border: 3px solid #E0913E;
    border-radius: 25px;
    padding: 25px;
    width: 340px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    margin-right: 800px;
}

h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 248px;
    height: 38px;
    border-radius: 8px;
    padding: 0 12px;
    border: 2px solid #3B6BB0;
    background-color: #EFE6D5;
    margin-bottom: 12px;
    font-size: 0.85rem;
    outline: none;
}
label{
    display: flex;
    justify-content:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:initial;
}
#cadastrar {
    width: 50%;
    height: 40px;
    border-radius: 15px;
    background-color: #FF9425;
    border: 2px solid #FF9425;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.443);
    margin-bottom: 20px;
    transition: background-color 0.3s  
}
#cadastrar:hover{
color:#000;
border: 2px solid #FF9425;
background-color: #ffffff;
}
#frase {
    font-size:medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: #000;
    line-height: 1.3;
}